services:

  # ------------------------
  # JARVIS BACKEND
  # ------------------------
  jarvis-backend:
    build: .
    container_name: jarvis-backend
    ports:
      - "9000:8000"
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - whisper
      - piper
      - openwakeword

  # ------------------------
  # WHISPER STT
  # ------------------------
  whisper:
    image: rhasspy/wyoming-whisper:latest
    container_name: wyoming-whisper
    ports:
      - "10300:10300"
    command: >
      --model tiny-int8
      --language de
      --uri tcp://0.0.0.0:10300
    restart: unless-stopped

  # ------------------------
  # PIPER TTS
  # ------------------------
  piper:
    image: rhasspy/wyoming-piper:latest
    container_name: wyoming-piper
    ports:
      - "10200:10200"
    command: >
      --voice de_DE-thorsten-low
      --uri tcp://0.0.0.0:10200
    restart: unless-stopped

  # ------------------------
  # OPENWAKEWORD
  # ------------------------
  openwakeword:
    image: rhasspy/wyoming-openwakeword:latest
    container_name: wyoming-openwakeword
    ports:
      - "10400:10400"
    command: >
      --uri tcp://0.0.0.0:10400
    restart: unless-stopped
